.table-skeleton-wrapper {
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  padding: var(--spacing-3xl) var(--spacing-xl) 0 var(--spacing-xl);

  .table-skeleton {
    display: flex;
    flex-flow: column;
  }

  .table-skeleton > span {
    display: block;
    height: 100%;
    overflow: hidden;
  }
}
